# Python Data Structures & Boolean

* Boolean
* Boolean and Logical Operators
* Lists
* Comparison operators
* Dictionaries
* Tuples
* Sets

## Boolean Varialbles

- Boolean values are the two constant objects False & True
- They are used to represent truth values(other values can also be consider3ed false or true)
- In numeric contexts(ex, when used as the argument to an arithmetic operatior), they behave like the integers 0 and 1 respectively
- The built-in function bool() can be used to cast any value to a boolean, if the vallue can be interpreted as a truth value
- They are written as False and True

In [3]:
False

False

In [4]:
True

True

In [5]:
type(True)

bool

In [6]:
type(False)

bool

In [11]:
my_str = "Monisha23"

In [12]:
my_str.istitle()

# istitle -> first alphabet should be always capital letter

True

In [ ]:
# built in data types in python

In [13]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
False

## Boolean and logical operators

In [14]:
True and True

True

In [15]:
True and False

False

In [16]:
True or False

True

In [17]:
True or True

True

In [18]:
str_example = "Sanket Mehta"
my_str = "Monisha"

In [19]:
my_str.isalpha() or str_example.isnum()

True

## Lists

- A list is a data structure in Python that is a mutable, or changeabe, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets[]

In [21]:
type([])

list

In [22]:
list_example = []

In [24]:
type(list_example)

list

In [25]:
lst = list()

In [26]:
type(lst)

list

In [27]:
lst = ["Mathematics", "Chemistry", 100, 200, 300, 204]

In [28]:
len(lst)

6

In [29]:
type(lst)

list

## Append

- append is used to add elemtns in the list

In [30]:
lst.append("Sanket Mehta")

In [34]:
lst.append(["Monisha Jain", "Chahar"])

# lst.append("Monisha Jain", "Chahar") <- this takes only one argument but is given 2 coz of  -> ()

# give this () when we want to append only one list()

# when we want append more than one element in a list use ([mmmm, nnnn, .........])

In [33]:
lst

['Mathematics',
 'Chemistry',
 100,
 200,
 300,
 204,
 'Sanket Mehta',
 ['Monisha Jain', 'Chahar']]

## Insert

- insert in a specific order

In [36]:
lst.insert(2, "Sankuu")

In [37]:
lst

['Mathematics',
 'Chemistry',
 'Sankuu',
 100,
 200,
 300,
 204,
 'Sanket Mehta',
 ['Monisha Jain', 'Chahar'],
 ['Monisha Jain', 'Chahar']]

In [38]:
lst.append(["Unnati", "Ashi Kanna"])

In [39]:
lst

['Mathematics',
 'Chemistry',
 'Sankuu',
 100,
 200,
 300,
 204,
 'Sanket Mehta',
 ['Monisha Jain', 'Chahar'],
 ['Monisha Jain', 'Chahar'],
 ['Unnati', 'Ashi Kanna']]

In [40]:
lst = [1, 2, 3]

In [41]:
lst

[1, 2, 3]

In [42]:
lst.append([4, 5])

In [43]:
lst

[1, 2, 3, [4, 5]]

## Extend Method

In [44]:
lst = [1, 2, 3, 4, 5, 6]

In [45]:
lst.extend([8, 9])

In [46]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

## Various operations that we can perform is list

In [47]:
lst = [1, 2, 3, 4, 5]

In [48]:
sum(lst)

15

In [49]:
lst * 5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

## Pop() method

In [50]:
lst.pop()

5

In [51]:
lst

[1, 2, 3, 4]

In [52]:
lst.pop(1)

# popping according to the index

2

In [53]:
lst

[1, 3, 4]

## count(): Calculates total occurrence of the given element of list?

In [59]:
lst = [1, 1, 2, 3, 4, 5, 9999]
lst.count(1)

2

# lenth: Calculates total length of a list

In [60]:
len(lst)

7

In [62]:
# index(): Returns the index of first occurence. Start and end index are not necessary parameters
lst.index(9999)

6

In [63]:
# min and max

min(lst)

1

In [65]:
max(lst)

9999

## SETS

A set is an unordered collection of data type that is iterable, mutable and has no duplicate elemtents. Python's set class
represents the mathematical notion of a set. This is based on a data structure known as hash table

In [67]:
## Defining an empty set
# set can be changed
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [68]:
set_var = {1, 2, 3, 4, 5}

In [69]:
set_var

{1, 2, 3, 4, 5}

In [70]:
set_var = {"Avengers", "IronMan", "Hitman"}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

## see set has been changed from integer values to string values

In [71]:
# Inbuilt function in sets

In [72]:
set_var.add("HULK")

In [73]:
set_var

{'Avengers', 'HULK', 'Hitman', 'IronMan'}

In [74]:
print(set_var)

{'IronMan', 'HULK', 'Hitman', 'Avengers'}

In [75]:

set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [76]:
set2.intersection_update(set1)

In [77]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [78]:
set1.intersection_update(set2)

In [79]:
set1

{'Avengers', 'Hitman', 'IronMan'}

- Difference

In [80]:
set2.difference(set1)


# ?????? no output for difference

# output should be {'Hulk2'}

set()

In [81]:
set1

{'Avengers', 'Hitman', 'IronMan'}

In [82]:
set2

{'Avengers', 'Hitman', 'IronMan'}

## Dictionaries

- A dictionary is a collection which is unordered, changeablea and indexed. In python dictionaries are written with curly brackets, and they have keys and values

In [84]:
dic = {}

In [85]:
type(dic)

dict

In [86]:
type(dict())

dict

In [87]:
set_ex = {1, 2, 3, 4, 5}

In [88]:
type(set_ex)

set

In [89]:
# Lets create a dictionary

my_dict = {"Car1": "Audi", "Car2": "Scoka", "Car3" : "Mercidies Benz"}

In [90]:
my_dict

{'Car1': 'Audi', 'Car2': 'Scoka', 'Car3': 'Mercidies Benz'}