## Series

- The first main data type we will learn about for pandas is the Series data type. 
- A Series is very similear to NumPy array(in fact it is built on top of the NumpY array object). What differentiates the NumPy array from a Series, is that a Series can have axis lables, meaning it can be indexed by a labe4l, instaead of just a number location.It also doesn't n3eed to hold numeric data, it can hold any arbitrary Python Ojbect.

In [1]:
import numpy as np
import pandas as pd

## Creating a Series

- We can convert a list, numpy array or dictionary to a Series:

In [2]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 30}

In [5]:
type(labels)

list

In [6]:
type(my_list)

list

In [7]:
type(arr)

numpy.ndarray

In [8]:
type(d)

dict

In [9]:
print(type(labels))

<class 'list'>

In [10]:
print(type(arr))

<class 'numpy.ndarray'>

In [11]:
print(type(d))

<class 'dict'>

In [12]:
print(type(my_list))

<class 'list'>

In [13]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [14]:
pd.Series(data = my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [15]:
# Init signature of pd.Series:

# pd.Series(data=None, index=None)



pd.Series(my_list, labels)

# or 

# pd.Series(data = my_list, index = labels)

# both are same

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [17]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [18]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 30}

## Dictionary

In [19]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

## Data in a Series

## A panda Series can hold a variety of object types:

In [20]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [22]:
# Even functions (although unlikely that you will use this)

pd.Series([sum, print, len]) 

# sum, print, len are all methods

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

- The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information(works like a hash table or dictionary)

- Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [25]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [26]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [27]:
ser2 = pd.Series([1, 2, 5, 4], index = ['USA', 'Germany', 'Italy', 'Japan'])

In [28]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [29]:
ser1['USA']

1

In [30]:
ser2['Germany']

2

- Operataions are then also done based off of index

In [31]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64